.loader {
    background-image: $linear-gradient;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-family: Shrikhand, sans-serif;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 1s ease-in-out 3s forwards;
    display: none;
    }
    .loader-food{
        vertical-align: middle;
        position: absolute;
        top:50%;
        left: 25%;
    }

    .loader-food span{
    display: inline-block;
    width: 5px;
    height: 20px;
    padding-right: 1em;
   }
  
  .loader-food span:nth-child(1){
    animation: grow 1s ease-in-out infinite;
  }
  
  .loader-food span:nth-child(2){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(3){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(4){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(5){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(6){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(7){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(8){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  .loader-food span:nth-child(9){
    animation: rotate 1s linear infinite;
  }

 