.restaurant-title h3 {
    padding: 30px 0px 0px 10px;
}
.card {
    @include card;
}
.card img {
    @include card-img ;
}
.main-restaurant {
    background: #f2f2f2;
}
.heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card figure {
    @include card-figure;
}
.card figcaption {
    @include card-figcaption;
}
.heart h5 {
    margin: 0;
    font-size: 1.5rem;
}

