.fa-heart {
    background: #fff;
    color: #000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.fa-heart:after {
    content: "";
    position: absolute;
    background-image: $linear-gradient;
    
}



