.heart-icon {
    width: 25px;
    height: 25px;
    &:hover {
        transition: all 0.3s linear 0s;
        background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    }
}