.header-img img{
    object-fit: cover;
    width: 100%;
}
.menu-title {
    @include menu-title;
}
.meals {
    @include meals;
}
.last-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
 }
 .last-line p {
     margin: 0;
 }
.meals h4 {
    margin: 0;
 }
 .menu h3 {
    padding-left: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid $color-tertiary;
 }
 .btn-order button {
     @include btn-about;
     margin: 30px 0;
    padding: 20px;
    width: 50%;
 }
 .btn-order {
     display: flex;
     justify-content: center;
 }
 
 