@mixin maps {
    border: none;
    background: #eaeaea;
    font-size: 1rem;
    padding: 30px 0 30px 10px;
}
@mixin about {
    background: #f6f6f6;
    text-align: center;
    &__h2 {
        font-weight: bold;
    }
    &__p {
        color: #4d4d4d;
    }
}
@mixin btn-about {
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}